{
		"presets": [
				"env"
		],
		"sourceMaps": "inline",
		"plugins": [
				["transform-runtime", {
						"helpers": true,
						"polyfill": false,
						"regenerator": true,
						"moduleName": "babel-runtime"
				}]
		]
}
