test.js
index.js
.DS_Store
markdown.png
jsdoc.json
gulpfile.js
server.*
.awcache
.DS_Store
public/app.js
public/index.html
webpack.config.js
postcss.config.js
lib/**/*.css
lib/**/*.css.json
bin/**/*.js
lib/**/*.js
lib/fonts

node_modules/
test/
__tests__/
bin
docs
lib
logs
coverage

*.tgz
*.js.map
*.ts
*.d.ts
!public/bundle.d.ts
.babelrc
.editorconfig
.gitignore
.gitattributes
.nyc_output
yarn.lock
yarn-error.log
tsconfig.json
tslint.json
.travis.yml
.babelrc
.prettierignore
.prettierrc
jest.config.js
